<h1>ツイートの編集</h1>

<%= form_with model: @tweet do |form| %>
  <% if @tweet.errors.any? %>
    <div>
      <h2><%= pluralize(@tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>
      <ul>
        <% @tweet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :message %>
    <%= form.text_area :message, value: @tweet.message, maxlength: 140 %>
  </div>

  <div>
    <%= form.submit '更新' %>
  </div>
<% end %>

<%= link_to '戻る', tweets_path %>
